<h2><%= @student.to_s %></h2>

<p><b>First name:</b> <h1><%= @student.first_name %></h1></p>
<p><b>Last name:</b> <h1><%= @student.last_name %></h1></p>
<p><b>Created at:</b> <%= @student.created_at.to_s %></p>
<p><b>Updated at:</b> <%= @student.updated_at.to_s %></p>